--
-- PostgreSQL database dump
--

-- Dumped from database version 16.4 (Debian 16.4-1.pgdg110+2)
-- Dumped by pg_dump version 16.4 (Debian 16.4-1.pgdg110+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: roads; Type: TABLE; Schema: public; Owner: traffic_admin
--

CREATE TABLE public.roads (
    id integer NOT NULL,
    name character varying(150) NOT NULL,
    road_type character varying(50),
    reference_speed double precision,
    geometry public.geometry(LineString,4326)
);


ALTER TABLE public.roads OWNER TO traffic_admin;

--
-- Name: roads_id_seq; Type: SEQUENCE; Schema: public; Owner: traffic_admin
--

CREATE SEQUENCE public.roads_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.roads_id_seq OWNER TO traffic_admin;

--
-- Name: roads_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: traffic_admin
--

ALTER SEQUENCE public.roads_id_seq OWNED BY public.roads.id;


--
-- Name: traffic_observations; Type: TABLE; Schema: public; Owner: traffic_admin
--

CREATE TABLE public.traffic_observations (
    id integer NOT NULL,
    road_id integer NOT NULL,
    observed_at timestamp with time zone NOT NULL,
    current_speed double precision,
    reference_speed double precision,
    source character varying(100)
);


ALTER TABLE public.traffic_observations OWNER TO traffic_admin;

--
-- Name: traffic_observations_id_seq; Type: SEQUENCE; Schema: public; Owner: traffic_admin
--

CREATE SEQUENCE public.traffic_observations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.traffic_observations_id_seq OWNER TO traffic_admin;

--
-- Name: traffic_observations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: traffic_admin
--

ALTER SEQUENCE public.traffic_observations_id_seq OWNED BY public.traffic_observations.id;


--
-- Name: roads id; Type: DEFAULT; Schema: public; Owner: traffic_admin
--

ALTER TABLE ONLY public.roads ALTER COLUMN id SET DEFAULT nextval('public.roads_id_seq'::regclass);


--
-- Name: traffic_observations id; Type: DEFAULT; Schema: public; Owner: traffic_admin
--

ALTER TABLE ONLY public.traffic_observations ALTER COLUMN id SET DEFAULT nextval('public.traffic_observations_id_seq'::regclass);


--
-- Data for Name: roads; Type: TABLE DATA; Schema: public; Owner: traffic_admin
--



--
-- Data for Name: traffic_observations; Type: TABLE DATA; Schema: public; Owner: traffic_admin
--

COPY public.traffic_observations (id, road_id, observed_at, current_speed, reference_speed, source) FROM stdin;
1	1	2026-09-02 10:15:07.986656+00	30	50	manual_test
2	1	2026-09-02 10:27:37.197163+00	20	50	manual_test
3	2	2026-09-02 10:30:36.680538+00	35	80	manual_test
4	3	2026-09-02 10:30:36.707284+00	20	50	manual_test
5	4	2026-09-02 10:30:36.727265+00	10	40	manual_test
6	5	2026-09-02 10:30:36.749277+00	55	60	manual_test
\.


--
-- Name: roads_id_seq; Type: SEQUENCE SET; Schema: public; Owner: traffic_admin
--

SELECT pg_catalog.setval('public.roads_id_seq', 5, true);


--
-- Name: traffic_observations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: traffic_admin
--

SELECT pg_catalog.setval('public.traffic_observations_id_seq', 6, true);


--
-- Name: roads roads_pkey; Type: CONSTRAINT; Schema: public; Owner: traffic_admin
--

ALTER TABLE ONLY public.roads
    ADD CONSTRAINT roads_pkey PRIMARY KEY (id);


--
-- Name: traffic_observations traffic_observations_pkey; Type: CONSTRAINT; Schema: public; Owner: traffic_admin
--

ALTER TABLE ONLY public.traffic_observations
    ADD CONSTRAINT traffic_observations_pkey PRIMARY KEY (id);


--
-- Name: idx_roads_geometry; Type: INDEX; Schema: public; Owner: traffic_admin
--

CREATE INDEX idx_roads_geometry ON public.roads USING gist (geometry);


--
-- Name: ix_traffic_observations_observed_at; Type: INDEX; Schema: public; Owner: traffic_admin
--

CREATE INDEX ix_traffic_observations_observed_at ON public.traffic_observations USING btree (observed_at);


--
-- Name: ix_traffic_observations_road_id; Type: INDEX; Schema: public; Owner: traffic_admin
--

CREATE INDEX ix_traffic_observations_road_id ON public.traffic_observations USING btree (road_id);


--
-- Name: traffic_observations traffic_observations_road_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: traffic_admin
--

ALTER TABLE ONLY public.traffic_observations
    ADD CONSTRAINT traffic_observations_road_id_fkey FOREIGN KEY (road_id) REFERENCES public.roads(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

